.photograph-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #fafafa;
	border-radius: 5px;
	padding: 50px;
}

.photograph-header h1 {
	font-size: 64px;
	font-weight: 400;
	margin: 0;
	color: #d3573c;
}

.photograph-header-location {
	font-size: 24px;
	font-weight: 400;
	color: #901c1c;
}

.photograph-header-tagline {
	font-size: 18px;
	font-weight: 400;
	color: #525252;
}

.photograph-header-button {
	width: 170px;
	height: 69px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	background: #901c1c;

	font-size: 20px;
	font-weight: 700;
	color: #fff;
}
