.photograph-gallery {
	margin-top: 50px;
}

.photograph-gallery-filters {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	font-size: 18px;
	font-weight: 700;
	color: #000;
}
