.photograph-gallery {
	margin-top: 20px;
}

.photograph-gallery-filters {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	font-size: 18px;
	font-weight: 700;
	color: #000;
}

.gallery-section {
	margin-top: 50px;
	margin-bottom: 75px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 350px);
	justify-content: space-between;
	gap: 2rem;
	width: 100%;
}

.gallery-article {
	width: 350px;
	height: 350px;
}

.gallery-media {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 5px;
	cursor: pointer;
}

.media-description {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 24px;
	color: #901c1c;
}

.media-description-likes {
	font-size: 22px;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 10px;
}

.fa-heart {
	cursor: pointer;
}
